<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizh.dao.UserDao">

    <select id="select" resultType="com.baizhi.entity.User">
         select
        concat(month(create_date)) as date,count(*) as count
        from user
        where sex='女'
        GROUP BY month(create_date)

    </select>
    <select id="selects" resultType="com.baizhi.entity.User">
         select
        concat(month(create_date)) as date,count(*) as count
        from user
        where sex='男'
        GROUP BY month(create_date)

    </select>
</mapper>